body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.sidebar {
    width: 200px;
    float: left;
    background-color: #f4f4f4;
    padding: 15px;
    height: 100vh; /* Задаем высоту бокового меню */
}

.content {
    margin-left: 220px; /* Отступ для бокового меню */
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse; /* Убирает двойные границы */
}

table, th, td {
    border: 1px solid black; /* Границы таблицы */
}

th, td {
    padding: 8px;
    text-align: left;
}